* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.result {
  background: lightskyblue;
}

.winner {
  color: green;
}

.loser {
  color: red;
}

.container {
  display: flex;
  gap: 20px;
}

.button {
  font-size: 1.2rem;
  font-weight: 800;
  padding: 70px 90px;
  cursor: pointer;
}
